/*Geral*/
html{
font-family: 'Poppins';
}
body{
    margin: 0;
    padding: 0;
    box-sizing: content-box; 
    max-height: 100%;
    max-width: 100%;
}
h1, h2, h3, h4, h5, p{
    margin: 0;
    color: #04BF9D;
    align-items: center;
}
.container{
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100%;
}
.home-container, .portifolio-container, .sobre-container, .time-container, .contato-container{
    width: 100%;
    max-width: 100%;
    height: auto;
    min-height: 100vh;
}
/*Header*/
header{
    position: relative;
    top: 0;
    height: auto;
    width: 100%;
}
/*Navbar*/
nav{
    position: fixed;
    top: 0;
    height: 100px;
    width: 100%;
    z-index: 1;
    background-color: #031226;
    border-bottom: 1px solid #F29F05;
    align-items: center;
    text-align: center;
}
nav:after{
    clear: both;
    content: "";
    display: block;
}
.nav-container{
    max-width: 1200px;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo img{
    width: 50px;
    height: 50px;
    align-content: center;
}
.logo-container{
    display: flex;
    align-items: center;
    align-content: center;
    margin-left: 1%;
    margin-top: center;
    
}
.nome-logo{
    font-family: 'Agbalumo';
    width: 25px;
    height: 100px;
    margin-top: 25px;
    margin-left: 1%;
    color: #04BF9D;
}
.nome-logo:hover{
    font-family: 'Agbalumo';
    width: 25px;
    height: 100px;
    margin-top: 25px;
    margin-left: 5px;
    color: #fff;
}
.nav-container ul{
    float: right;
    height: 100px;
    line-height: 100px;
    margin: 0;
}
.nav-container li{
    list-style: none;
    float: left;
    margin: 0 1%;
    display: inline;
    margin-top: -15px;
}
.nav-container li a{
    text-decoration: none;
    color: #ffffff;
    transition: .5s;
}
.nav-container li a:hover{
    color: #D93D1A;
}
/*Banner*/
.home-container{
    background: url('../img/plano_de_fundo.jpg') no-repeat;
    background-size: cover;
    background-position: 0 55%;
    margin-top: 100px;
    align-items: center;
    display: flex;
    justify-content: center;
}
.banner-main{
    align-items: center;
    margin-left: 10px;
    align-content: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 2%;
    margin-top: 5%;
}
.banner-main-div-secundaria{
    display: inline;
}
.banner-main h1, .banner-main h3, .banner-main.nome-logo{
    color: #F29F05;
}

/*Serviços*/
.servico-container{
    text-align: center;
    display: flex;
    margin-left: 2%;
    margin-right: 2%;
}
.servico-container img{
    width: 150px;
    height: 150px;
}
.servico-div-main{
    display: flex;
    text-align: center;
    margin-bottom: 2%;
    margin-top: 5%;
}
.servico-container h1{
    text-align: center;
    margin-top: 2.5%;
}
.servico-div-secundaria{
    justify-content: space-between;
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;
    border-color: #031226;
    transition: .35s;
    cursor: pointer;
    border-style: solid;
    border-width: 5px;
    border-radius: 4%;
}
.servico-div-secundaria:hover{
    opacity: .4;
    transform: scale(0.9);
}
.servico-div-terciaria{
    margin-top: 5%;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 2%;
}
/*Portifólio*/
.portifolio-container{
    background-color: #D93D1A;
    text-align: center;
    display: flex;
}
.portifolio-div-fixa{
    align-items: center;
    text-align: center;
    flex: 1;
}
.portifolio-div-fixa h3{
    display: inline;
    align-items: center;
    text-align: center;
    flex: 1;
    margin-left: 1%;
}
.portifolio-container img{
    max-height: 45%;
    min-width: 10%;
    width: 45%;
    height: auto;
}
.portifolio-div-main{
    text-align: center;
    margin-bottom: 5%;
    margin-top: 5%;
}
.portifolio-div-secundaria{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-around;
    margin-bottom: 2%;

}
.portifolio-div-terciaria{
    flex: 0 0 45%;
    margin: 5px;
    max-width: 50%;
    margin-top: 1%;
}
.portifolio-div-terciaria img {
    width: 90%;
    height: auto;
    border-color: #F21365;
    border-style: solid;
    border-width: 2px;
    transition: .35s;
    cursor: pointer;
  }
.portifolio-div-terciaria img:hover{
    opacity: 1.6;
    transform: scale(1.1);
}
/*Sobre*/
.sobre-container{
    text-align: center;
    Justify-content: center;
    align-items: center;
    justify-content: center;
    padding: 2%;
    margin: 0;
    width: 100%;
}
.sobre-container img{
    border-radius: 50%;
    height: auto;
    width: 10%;
}
.sobre-div-main{
    text-align: center;
    margin-bottom: 5%;
    margin-top: 5%;
    width: 100%;
}
.titulo{
    align-items: center;
    text-align: center;
    flex: 1;
}
.slogan h3{
    display: inline;
    align-items: center;
    text-align: center;
    flex: 1;
    margin-left: 1%;
}
#logo-sobre{
    font-family: 'Agbalumo';
    width: 25px;
    height: 100px;
    margin-top: 25px;
    margin-left: 5px;
    color: #04BF9D;
}
#logo-sobre:hover{
    font-family: 'Agbalumo';
    width: 25px;
    height: 100px;
    margin-top: 25px;
    margin-left: 5px;
    color: #F29F05;
}
.linha-do-tempo{
    align-items: center;
    text-align: left;
}
.linha-do-tempo-esquerda{
    align-items: center;
    text-align: left;
    justify-content: right;
}
.linha-do-tempo-direita{
    align-items: left;
    text-align: right;
    justify-content: left;
}
/*Time*/
.time-container{
    background-color: #F29F05;
    text-align: center;
    margin-bottom: 0;
    Justify-content: center;
    align-items: center;
    justify-content: space-between;
}
.time-container h1{
    text-align: center;
    padding-top: 5%;
    color: #031226;
}
.time-container h3{
    color: #031226;
}
.time-container img{
    width: 90%;
    height: 90%;
    border-radius: 50%;
}
.social img{
    width: 20%;
    height: 20%;
}
.time-div-main{
    display: flex;
    text-align: center;
    padding: 2%;
    margin-top: 5%;
    /*Justify-content: center;*/
    align-items: center;
    justify-content: space-between;
    flex: 1;
}
.time-div-secundaria{
    margin-left: 1%;
    margin-right: 1%;
    flex: 1;
}
.time-div-secundaria h1, .time-div-secundaria h2{
    font-size: 20px;
    color: #031226;
}

.time-div-secundaria h4{
    font-size: 12px;
    color: #031226;
}

/*Parceiros*/
.parceiros-container{
    background-color: #04BF9D;
    align-items: center;
}
.parceiros-container div{
    align-items: center;
    justify-content: center;
}
.parceiros-container img{
    margin-top: 10px;
    height: 25px;
}
.parceiros-div-main{
    display: flex;
}
.parceiros-div-main a{
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 2.5%;
    margin-right: 2.5%;
}
/*Contato*/
.contato-container{
    background: url('../img/plano_de_fundo2.jpg') no-repeat;
    background-size: cover;
    background-position: 0 55%;
    margin-top: 0px;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}
.contato-div-main, .form-contato, .contato-div-secundaria{
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
}
.contato-div-info div{
    padding-bottom: 2%;

}
.contato-div-info, .contato-div-mensagem{
    width: 50%;
    margin-left: 5%;
    margin-right: 5%;
}
.contato-div-terciaria{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 1%;
}
.contato-div-info input{
    height: 25px;
    width: 50%;
    border-radius: 3%;
}
.contato-div-mensagem input{
    height: 90%;
    width: 50%;
    border-radius: 3%;
}
/*Footer*/
footer{
    background-color: #F21365;
    padding-top: 5px;
    padding-bottom: 40px;
    border-top: 1px#F29F05;
    border-top-style: solid;
    text-align: center;
    align-items: center;
}
footer h5, footer a, footer img, footer .nome-logo{
    color:#04BF9D;
    display: inline;
}
footer a{
    text-decoration: none;
}
footer ul{
    padding: 0;
    align-items: baseline;
}
footer li{
    list-style: none;
}
.footer-box{
    width: 31%;
    padding: 1%;
    float: left;
    display: inline-block;
    justify-content: space-between;

}
footer .wrapper:after{
    clear: both;
    content: "";
    display: block;
}
.company-footer, .footer-termos{
    width: 80%;
}
.footer-termos{
    text-decoration: underline;
    display: inline;
    align-items: left;
}
.company-footer h5{
    margin-top: 20px;
    margin-bottom: 20px;
}
.footer-list li{
    margin-bottom: 15px;
    display: inline;
}
.footer-list a{
    transition: .5s;
}
.footer-list a:hover{
    color: #D93D1A;
}
.footer-list li:after{
    clear: both;
    content: "";
    display: block;
}
footer img {
    width: 5%;
    height: 5%;
}