/*Geral*/
html{
font-family: 'Poppins';
}
body{
    margin: 0;
}
h1, h2, h3, h4, h5, p{
    margin: 0;
    color: #04BF9D;
    align-items: center;
}
.container{
    max-width: 1920px;
    width: 100%;
}
/*Header*/
header{
    position: relative;
    top: 0;
    height: auto;
    width: 100%;
}
/*Navbar*/
nav{
    position: fixed;
    top: 0;
    height: 100px;
    width: 100%;
    z-index: 1;
    background-color: #031226;
    border-bottom: 1px solid #F29F05;
    align-items: center;
}
nav:after{
    clear: both;
    content: "";
    display: block;
}
.nav-container{
    max-width: 1200px;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logo{
    width: 50px;
    height: 50px;
    margin-left: -25px;
    margin-top: -25px;
    align-content: center;
}
.logo-container{
    display: flex;
    align-items: center;
    align-content: center;
}
#nome-logo{
    font-family: 'Agbalumo';
    width: 25px;
    height: 100px;
    margin-top: 25px;
    margin-left: 5px;
    color: #ffffff;
}
.nav-container ul{
    float: right;
    height: 100px;
    line-height: 100px;
    margin: 0;
}
.nav-container li{
    list-style: none;
    float: left;
    margin: 0 15px;
    display: inline;
    margin-top: -15px;
}
.nav-container li a{
    text-decoration: none;
    color: #ffffff;
    transition: .5s;
}
.nav-container li a:hover{
    color: #D93D1A;
}
/*Banner*/
#home{
    background: url('../img/plano_de_fundo.jpg') no-repeat;
    background-size: cover;
    background-position: 0 55%;
    margin-top: 100px;
    align-items: center;
    display: flex;
    justify-content: center;
}
#main-banner{
    align-items: center;
    margin-left: 10px;
    align-content: center;
    justify-content: center;
    text-align: center;
}
/*Contato*/
#contato{
    background: url('../img/plano_de_fundo2.jpg') no-repeat;
    background-size: cover;
    background-position: 0 55%;
    margin-top: 100px;
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
}
#form-contato{
    display: flex;
    position: relative;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15em;
    padding-bottom: 15em;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
}
#form-contato input{
    background-color: #ffffff;
    border-radius: 5px;
    border-color: transparent;
    padding: 10px 60px;
    font-size: 18px;
    margin: 0 10px;
    margin-top: 5px;
}
#form-contato input[type=submit]{
    background-color: #031226;
    text-transform: uppercase;
    color: #ffffff;
    cursor: pointer;
    transition: 0.5s;
}
#form-contato input[type=submit]:hover{
    background-color: #04BF9D;
}
#informacao{
    position: relative;
    width: 45%;
    float: left;
}
#form-mensagem{
    position: relative;
}
#teste{
    width: 100%;
}
#mensagens{
    width: 50%;
    height: 45px;
    float: left;
}
#contato div{
    position: relative
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.grid-item {
    text-align: center;
}
